<ul th:fragment="topbar" class="navbar-nav ms-auto d-flex flex-row" xmlns:th="http://www.thymeleaf.org"
>
    <!-- Notification dropdown -->
    <li class="nav-item dropdown d-flex align-items-center justify-content">
        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#"
           id="notification"
           role="button" data-mdb-toggle="dropdown" aria-expanded="fale">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">2</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <div class="dropdown-menu">
        </div>
    </li>

    <!-- Icon dropdown -->
    <li class="nav-item dropdown d-flex align-items-center justify-content">
        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown"
           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-language"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" href="#" th:text="#{lang.en}"><i
                        class="fa fa-check text-success ms-2"></i></a>

                <a class="dropdown-item" href="#" th:text="#{lang.ar}">Arabic<i
                        class="fa fa-check text-success ms-2"></i></a>
            </li>
        </ul>
    </li>

    <!-- Avatar -->
    <li class="nav-item dropdown d-flex align-items-center justify-content">
        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
           id="account-settings" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img th:src="@{${#authentication.principal.imagePath}}"
                 th:alt="${#authentication.principal.fullName}"
                 class="rounded-circle px-1"
                 style="object-fit: cover"
                 height="22" alt="" loading="lazy"/>

            <small style="font-size: 10px;" th:text="${#authentication.principal.fullName}"></small>
        </a>
        .
        <form id="logout-form" th:hidden="true" th:action="@{/logout}" method="post">
        </form>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account-settings">
            <li><a class="dropdown-item" href="#" th:text="#{profile}"></a></li>
            <li><a class="dropdown-item" href="#" th:text="#{settings}"></a></li>
            <li>
                <button class="dropdown-item" form="logout-form" th:text="#{logout}"></button>
            </li>
        </ul>
    </li>
</ul>
