body {
    width: 100vw !important;
    height: 100vh !important;
}

main {
    padding: 30px;
}

form {
    border-radius: 10px !important;
    border: 1px solid #ddd !important;
    background: #fff !important;
    padding: 20px !important;
}