<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base/page/main :: html(~{::title}, ~{::link}, ~{::body})">
<title th:text="|#{GoBuy} ${'|'}  #{users}|"></title>
<link>
<body th:replace="base/page/body :: body(~{::main}, ~{::script})">
<main>
    <div class="row">
        <div class="col"><h2 th:text="#{manage-system-users}"></h2></div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/users/new}" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"
               th:text="#{create-new-user}"></a>
            <a th:href="@{/users/export/csv}" type="button" class="btn btn-link" data-mdb-ripple-color="dark"
               th:text="#{export-csv}"></a>
            <a th:href="@{/users/export/pdf}" type="button" class="btn btn-link" data-mdb-ripple-color="dark"
               th:text="#{export-pdf}"></a>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>#</th>
            <th scope="col" th:text="#{name}"></th>
            <th scope="col" th:text="#{role}"></th>
            <th scope="col" th:text="#{account-status}"></th>
            <th scope="col" th:text="#{actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row">[[${user.id}]]</th>
            <td>
                <div class="d-flex align-items-center">
                    <img
                            th:src="@{${user.imagePath}}" th:alt="${user.fullName}"
                            style="width: 45px; height: 45px; object-fit: cover"
                            class="rounded-circle"
                    />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">[[${user.fullName}]]</p>
                        <p class="text-muted mb-0">[[${user.email}]]</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">[[${user.roles}]]</p>
            </td>
            <td>
                <span class="badge rounded-pill d-inline"
                      th:classappend="${user.enabled} ? badge-success : badge-danger"
                      th:text="${user.enabled} ? #{active} : #{disabled}"></span>
            </td>
            <td>
                <span>
                <a th:href="@{|/users/edit/${user.id}|}" class="btn btn-outline-primary btn-sm btn-rounded"
                   th:title="#{edit}"><span><i class="fas fa-pen"></i></span></a>
                </span>

                <span>
                    <form id="delete-user"
                          th:action="@{|/users/delete/${user.id}|}"
                          th:object="${user}"
                          th:method="DELETE"
                          onsubmit="return deleteUser(this)"
                    >
                        <input type="hidden" name="id" th:value="*{id}">
                    </form>
                    <button type="submit" class="btn btn-outline-danger btn-sm btn-rounded" form="delete-user"
                            th:title="#{delete}">
                        <span><i class="fas fa-trash"></i></span>
                    </button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div aria-label="users pagination" class="mt-2">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currPage <= 1 ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="${@replaceOrAddParam.apply('page', currPage-1)}">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currPage == i ? 'active' : ''}">
                <a class="page-link"
                   th:href="${@replaceOrAddParam.apply('page', i)}">[[${i}]]</a>
            </li>

            <li class="page-item" th:classappend="${currPage >= totalPages ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="${@replaceOrAddParam.apply('page', currPage+1)}">Next</a>
            </li>
        </ul>
    </div>

</main>
<script type="text/javascript">
    function deleteUser(form) {
        const ok = confirm("Do you want to delete this record");
        console.log(ok);
        if (ok) {
            form.submit();
        }
        return false;
    }

    $(function () {
        $('.enable-switch').on('click', function () {
            const formId = $(this).data('id');
            const form = $(`#${formId}`);
            form.submit();
        })
    })





</script>
</body>
</html>
